@import '../../styles/_color';
@import '../../styles/_forms';

#signin-container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;

  .content {
    position: absolute;
    z-index: 2;
    width: 24%;
    min-height: 63vh;
    border: 1px solid #ddd;
    border-radius: 10px;
  }
  #signin-fields {
    position: absolute;
    z-index: -1;
    width: 100%;
    min-height: 63vh;
    border: 1px solid #ddd;
    border-radius: 10px;
    // box-shadow: 0px 0px 2px #aaa;
    background-color: #fff;
    p {
      margin: 0;
      padding-left: 22px;
      margin-bottom: 34px;
      opacity: 0.57;
    }
    img {
      width: 40px;
      height: 40px;
      padding: 22px 13px 13px 22px;
    }
    h2 {
      padding-left: 22px;
    }
    #signin-title {
      padding: 20px;
      font-size: 25px;
      font-weight: bold;
      border-radius: 10px 10px 0 0;
      background: $secondary;
      color: #fff;
    }
    .error {
      display: none;
      padding: 20px 10px 10px 10px;
      font-size: 18px;
      color: red;
    }

    form {
      padding: 10px;
    }
    input[type='text'] {
      margin-top: 0;
    }
    input {
      border: none;
      outline: none;
      border-bottom: 2px solid $Button;
    }
    ::placeholder {
      font-size: 14px;
      opacity: 0.65;
    }
    label {
      padding: 18px;
    }
    input[type='submit'] {
      margin-top: 20px;
      background: $Button;
      font-weight: bold;
      cursor: pointer;
      color: white;

      &:hover {
        color: #fff;
      }
    }
    .forgot-password {
      padding-top: 12px;
      text-align: center;

      .forgot-link {
        text-decoration: none;
        color: $Button;
        opacity: 1;
      }
    }
  }
  .loader {
    position: absolute;
    background: $Button;
    top: 0;
    margin-left: 3px;
    width: 120px;
    height: 3px;
    z-index: 2;
  }
}
.loader-forgot {
  position: absolute;
  background: $Button;
  top: 0;
  margin-left: 3px;
  width: 150px;
  height: 3px;
  z-index: 2;
}
.container {
  background-color: $surface;
}
.clip-container {
  background-color: $primary;
  clip-path: polygon(0 0, 0% 100%, 100% 0);
  width: 100vw;
  height: 100vh;
  z-index: -1;
}
